.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100%;
  border-top: 1px solid black;
}

.navbar__container_logo {
  width: 50%;
}

.navbar__container_icons {
  display: flex;
}

.navbar__container_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
