.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.navbar__container_logo {
  width: 480px;
  background: black;
}

.navbar__container_icons {
  display: flex;
}

.navbar__container_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
