@import url("./assets/css/normalize.css");

.App {
  text-align: center;
}

.main__app {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.main__products {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  flex: 1;
}

.products_list {
  display: flex;
}
